.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

neurips2023.pdf
._neurips2023.pdf
**/neurips2023.pdf
**/._neurips2023.pdf

*.aux
._*.aux
**/*.aux
**/._*.aux

*.out
._*.out
**/*.out
**/._*.out

*.bbl
._*.bbl
**/*.bbl
**/._*.bbl

*.blg
._*.blg
**/*.blg
**/._*.blg

*.fls
._*.fls
**/*.fls
**/._*.fls

*.log
._*.log
**/*.log
**/._*.log

*.fdb_latexmk
._*.fdb_latexmk
**/*.fdb_latexmk
**/._*.fdb_latexmk

*.synctex.gz
._*.synctex.gz
**/*.synctex.gz
**/._*.synctex.gz

demos/
其它提交文件/
*.zip
通知/
refs/
cikm2023.pdf
